@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <h1 class="title">
            ToDo List
        </h1>
    </div>
</div>
<div class="row" style="text-align: center;">
    <div class="col-12">
        <div class="todo-list align-items-center justify-content-center">
            @for (int i = 0; i < 20; i++)
            {
                <div class="todo-list-item">
                    <h1 class="todo-item-title">
                        yo
                    </h1>
                </div>
            }
        </div>
    </div>
</div>