@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title">
                ToDo List
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="todo-list">
                <div class="todo-list-item">
                    <h1 class="todo-item-title">
                        yo
                    </h1>
                </div>

                <div class="todo-list-item">
                    <h1 class="todo-item-title">
                        yo
                    </h1>
                </div>

                <div class="todo-list-item">
                    <h1 class="todo-item-title">
                        yo
                    </h1>
                </div>

                <div class="todo-list-item">
                    <h1 class="todo-item-title">
                        yo
                    </h1>
                </div>

                <div class="todo-list-item">
                    <h1 class="todo-item-title">
                        yo
                    </h1>
                </div>

            </div>
        </div>
    </div>
</div>